doctype html
html(lang='RU-ru')
    head
        meta(charset='UTF-8')
        title Мастер классы
        link(rel='stylesheet', href='assets/libs/hamburger/hamburgers.css')
        link(rel='stylesheet', href='assets/fonts/Circe/font.css')
        link(rel='stylesheet', href='assets/css/style.css')
    body
        include parts/_mixins.pug
        include parts/_header.pug
        +page_title('Мастер классы')
        
        main.row.row-master-class
            .container.container-master-class
                +master_class('mc-img-1.jpg', 'Заголовок мастер-класса', 'Небольшое описание мастер-класса. Может быть видео, которое вы выгрузите на ютьюб и првязать ссылку в этот блок')
                
                +master_class('mc-img-2.jpg', 'Либо можно добавять фото с мероприятия которое будет проходить', 'Небольшое описание мастер-класса. Может быть видео, которое вы выгрузите на ютьюб и првязать ссылку в этот блок')
                +master_class('mc-img-3.jpg', 'Заголовок мастер-класса', 'Небольшое описание мастер-класса. Может быть видео, которое вы выгрузите на ютьюб и првязать ссылку в этот блок')
                +master_class('mc-img-4.jpg', 'Мастер-класс', 'Небольшое описание мастер-класса. Может быть видео, которое вы выгрузите на ютьюб и првязать ссылку в этот блок')
                +master_class('mc-img-5.jpg', 'Заголовок мастер-класса', 'Небольшое описание мастер-класса. Может быть видео, которое вы выгрузите на ютьюб и првязать ссылку в этот блок')
                +master_class('mc-img-6.jpg', 'Мастер-класс', 'Небольшое описание мастер-класса. Может быть видео, которое вы выгрузите на ютьюб и првязать ссылку в этот блок')
                //+master_class('mc-img-.jpg', '', '')
    
        include parts/_pagination.pug
        
        include parts/_footer.pug
    
                    
    script(src='assets/libs/jquery/jquery-1.8.2.min.js')
    script(src='assets/libs/mobile-detect/mobile-detect.min.js')
    script(src='assets/js/responsive.js')
    script(src='assets/js/main.js')
    