section.screen.row.footer.f
    .container.f__container
        .f__logo
            a(href='#')
                img(src='/images/logo.png', alt='')
        .f__nav
            ul
                li
                    a(href='#') ОФОРМИТЬ ЗАКАЗ
                li
                    a(href='#') Мастер-классы
                li
                    a(href='#') Магазин товаров
                li
                    a(href='#') Собрать свой набор
        .f__contacts
            a.email(href='#') vspishka.eclair@gmail.com
            a.phone(href='#') +7 924 225 67 70
        .f__social
            a.sn.sn-big.sn-big-fb(href='#')
            a.sn.sn-big.sn-big-inst(href='#')
        .f__address
            p Мы находимся по адресу г. Владивосток, Светланская 33/2 в Старом дворике ГУМа
            p.f__p2 Не знаете как добраться, посмотрите на карте
            p.f__p3
                a.btn.btn-trans(href='#') Открыть карту