header.header.row
    .container.header__container
        a.header__logo-link(href="#")
            img(src="images/logo-common.png")
            
        nav.header__nav
            ul
                li
                    a(href="/") Главная
                li
                    a(href="#") Магазин
                li
                    a(href="#") Мастер-классы
                
        .header__actions
            a.action-call(href="#") +7 924 225 67 70
            a.header__cart-btn(href='#') 
            a.btn.btn-pink-dark.question-btn(href='#') Задать вопрос