section.screen.row.s7
    img#candy-6(src="images/candy-6.png")
    .container.s7__container
        .s7__title-block
            .s7__title Не смогли определиться с выбором?
            .s7__desc Вы можете приобрести подарочный сертификат и сделать заказ потом
        .s7__cnt
            .cert-img
                img(src='/images/gift-cert.png', alt='')
            .cert-info
                .cert-text
                    p
                        | Подарочные сертификаты на 500, 1000 и 2000 рублей можно использовать во Вспышке для оплаты любых товаров.
                    p
                        | А после использования всего номинала, карту можно использовать в качестве бонусной и копить бонусные баллы за каждую покупку.
                .certs
                    .cert-item.item-1
                        .price 500 Р.
                        a.btn.btn-trans(href='#') Подробности
                    .cert-item.item-2
                        .price 500 Р.
                        a.btn.btn-trans(href='#') Подробности
                    .cert-item.item-3
                        .price 500 Р.
                        a.btn.btn-trans(href='#') Подробности