section.screen.row.s1
    img#texture-0(src="images/texture-0.png")
    .container.s1__container
        .s1__header
            p.s1__cart-contacts
                span.s1__contacts
                    a.s1__phone(href='#') +7 924 225 67 70
                    a.s1__call(href='#') заказать звонок
                a.s1__cart(href='#')
            p.s1__shop-mc
                a.btn.btn-pink(href='#') Магазин
                a.btn.btn-pink(href='#') Мастер-классы
            p.s1__offer-desc
                span.s1__offer
                    | Наши лучшие эклеры 
                    br
                    | у Вас дома!
                span.s1__desc Все очень просто!
            p.s1__hz
                img(src='/images/pager.png', alt='')
        .s1__cnt.ta-center
            img#logo-bli(src="images/logo-bli.png")
            img#logo-ssbon(src="images/logo-ssbon.png")
            img#texture-1(src="images/texture-1.png")
            img#candy-1(src="images/candy-1.png")
            p
                img(src='images/logo.png', alt='')
            p.fz_1-5.m-30px Не можете определиться с выбором, спросите совет
            p
                a.btn.btn-white(href='#') Задать вопрос