section.screen.row.s6
    .container.s6__title-container
        h3.s-title.s2__title Магазин готовых товаров
    .container.s6__container
        .s6-prod__slider-wrpr
            .prod__slider
                +prod('images/prod-photo-1.png')   
                +prod('images/prod-photo-2.png')   
                +prod('images/prod-photo-3.png')   
                +prod('images/prod-photo-4.png')
            .s6_into-shop
                a.btn.btn-white(href='#') В магазин
    img#texture-4(src="images/texture-4.png")