section.screen.row.s5
    .container.s5__container
        .s5__title-wrpr
            .arrow_prev
            h3.s-title.s4__title Галерея товаров
            .arrow_next
        .gallery-wrpr
            .gallery
                +gallery_item('/images/gallery/1.jpg', '/images/gallery/2.jpg')
                +gallery_item('/images/gallery/3.jpg', '/images/gallery/4.jpg')
                +gallery_item('/images/gallery/5.jpg', '/images/gallery/6.jpg')
                +gallery_item('/images/gallery/7.jpg', '/images/gallery/8.jpg')
                +gallery_item('/images/gallery/9.jpg', '/images/gallery/10.jpg')
        img#candy-5(src="images/candy-5.png")
        img#blissbon-big(src="images/logo-big-pink.png")
                
    