section.screen.row.s9
    .container.s9__container
        h3.s-title.s9__title Сертификаты и грамоты
        .s9__cnt
            .s9__slider-wrpr
                .s9__slider
                    .s9__slider-item
                    .s9__slider-item
                    .s9__slider-item