section.screen.row.s3
    img#texture-2(src="images/texture-2.png")
    .container.s3__container
        h3.s-title.s3__title О компании
        .s3__cnt
            p
                | В декабре 2015 года во Владивостоке открылась первая кондитерская Вспышка, в которой можно купить уникальные 
                br
                | эклеры и выпить вкусный кофе и авторский чай.
            p
                | С тех пор было сделано более 150 000 эклеров и 10 000 корзинок. Некоторые из них забирали в Москву, Санкт-Петербург, 
                br
                | Красноярск, Хабаровск, Южно-сахалинск и другие города, чтобы подарить своим близким. Команда Вспышки увеличилась в 
                br
                | несколько раз, но качество остается на прежнем, превосходном уровне!
            p.fw-600.fz_1-5.s3__p3
                | Мы находимся по адресу г. Владивосток, Светланская 33/2 
                br
                | в Старом дворике ГУМа
            p
                a.btn.btn-white(href='#') Смотреть на карте
            img#candy-3(src="/images/candy-3.png")