section.screen.row.s4
    .container.s4__container
        img#candy-4(src="images/candy-4.png")
        h3.s-title.s4__title Сладкие столы на свадьбу и корпоративы
        .s4__cnt.col-12
            .gallery-t1
                .g1i
                    .g1i__cnt
                        img(src='images/s4-ph-1.jpg', alt='')
                .g1i
                    .g1i__cnt
                        img(src='images/s4-ph-2.jpg', alt='')
                .g1i
                    .g1i__cnt
                        img(src='images/s4-ph-3.jpg', alt='')
            p.mt-35px
                | Если Вас интересует услуга «Сладкий стол» для Вашего мероприятия, то Вы можете оставить заявку и наши специалисты 
                br
                | свяжутся с вами для уточнения информации по заказу
            .s4__form-wrpr
                form(action='#')
                    .form__row.col-12.form__items
                        .form__item.input-wrpr
                            input(type='text', placeholder='Ваше имя')
                        .form__item.input-wrpr
                            input(type='text', placeholder='Телефон')
                        .form__item.submit-wrpr
                            input(type='submit', value='Отправить')
                    .form__row.col-12.form__desc
                        p
                            | Нажимая кнопку «ОТПРАВИТЬ», Вы автоматическе даете согласие на обработку Ваших персональных данных
    img#texture-3(src="/images/texture-3.png")