section.screen.row.s2
    img#candy-2(src="images/candy-2.png")
    .container.s2__container
        h3.s-title.s2__title Популярные товары
        .prod__slider
            +prod('images/prod-photo-1.png')   
            +prod('images/prod-photo-2.png')   
            +prod('images/prod-photo-3.png')   
            +prod('images/prod-photo-4.png')
            
        img#candy-7(src="images/candy-7.png")