section.screen.row.s8
    .container.s8__container
        h3.s-title.s8__title Наша команда
        .team-wrpr
            +team_item('/images/team-1.png')
            +team_item('/images/team-2.png')
            +team_item('/images/team-1.png')
            +team_item('/images/team-2.png')